{% extends 'MainSite/base.html' %}
{% load static %}

{% block content %}
<header>
  {% include 'MainSite/includes/header.html' %} 
</header>
  {% comment %} {{form}} {% endcomment %}
    <section class="login-page">
      <h2  id="register-section">Załóż konto</h2>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <input id="id_first_name" type="text" name="first_name" placeholder="Imię" />
        </div>
         <div class="form-group">
          <input id="id_last_name" type="text" name="last_name" placeholder="Nazwisko" />
        </div>
        <div class="form-group">
          <input id="id_email" type="email" name="email" placeholder="Email" />
        </div>
        <div class="form-group">
          <input id="id_password" type="password" name="password" placeholder="Hasło" />
        </div>
        <div class="form-group">
          <input id="id_password_confirm" type="password" name="password_confirm" placeholder="Powtórz hasło" />
        </div>

        <div class="form-group form-group--buttons">
          <a href="login.html" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>
{% endblock %}